<div class="col-md-12">
      <% @products.each do |product| %>
       <div class="col-md-4">
        <td><%= link_to(product.title, product_path(product))%></td>
        <td><%= product.description %></td>
        <td>
         <%= link_to product_path(product) do %>
           <% if product.image.present? %>
             <%= image_tag(product.image.thumb.url, class: "thumbnail")%>
           <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
           <% end %>
          <% end %> 
        </td>
        <td><%= product.quantity %></td>
        <td><%= product.price %></td>
      </div>
      <% end %>
</div>
